.header__logo {
  background-image: url(../../../image/logo/header-logo-desktop.svg);
  max-width: 142px;
  min-height: 33px;
  margin: 0;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1023px) {
  .header__logo {
    margin: 28px 0 0 27px;
    background-image: url(../../../image/logo/header-logo-mobile.svg);
  }
}
