.profile__info {
  display: grid;
  grid-template-columns: 294px 24px;
  grid-template-rows: 39px;
  gap: 16px 18px;
  align-items: center;
}

@media screen and (max-width: 1023px) {
  .profile__info {
    grid-template-columns: 1fr 189px 1fr;
    margin: 26px 0 36px;
    grid-template-rows: 26px;
    gap: 10px;
    width: 100%;
  }
}
