.profile {
  display: grid;
  grid-template-columns: 120px 1fr 1fr;
  align-items: center;
  max-width: 880px;
  margin: 40px auto 0;
  min-height: 120px;
  column-gap: 30px;
}

@media screen and (max-width: 1023px) {
  .profile {
    grid-template-columns: 1fr;
    justify-items: center;
    max-width: 282px;
    margin: 42px auto 0;
  }
}
