.card__delete-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-image: url(../../../image/ui-kit/Group.svg);
  background-repeat: no-repeat;
  background-position: center;
  max-width: 18px;
  cursor: pointer;
  min-height: 19px;
  border: none;
  width: 100%;
  background-color: transparent;
}

.card__delete-button:hover {
  opacity: 0.6;
}
