.header {
  max-width: 880px;
  margin: 0 auto;
  position: relative;
  min-height: 74px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  padding-top: 45px;
}

@media screen and (max-width: 1023px) {
  .header {
    max-width: 320px;
    min-height: 56px;
    margin: 0 auto;
    padding-top: 28px;
  }
}
